body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    padding: 20px;
}

.heading h1 {
    font-size: 40px;
    color: #27AE60;
    margin: 0;
}

.heading p {
    color: #fff;
    font-size: 18px;
    margin: 10px 0 0;
}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.aboutus img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-top: 120px;
    margin-bottom: 200px;
}

.aboutus .content {
    border: 2px solid #27AE60;
    height: 50vh;
    margin-bottom: 150px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 100px;
    background-color: rgba(39, 174, 96, 0.1);
}

.aboutus .content h2 {
    color: #27AE60;
    margin-top: 0;
}

#box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}